* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 2rem 2rem 3rem 3rem;
}

.mein-links {
  display: flex;
  gap: 3rem;
}

.container {
  display: flex;
  gap: 8rem;
  background-color: aquamarine;
  padding: 2rem;
}
